/* .display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
} */
/* #input-field {
    border: 2px solid black;
    width: 75%;
    margin-bottom: 5px;
} */

.image {
    width: auto;
    height: auto;
}

#see-more-button {
    display: none;
}